/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27-Nov-2017, 3:46:12 PM
    Author     : Yang
*/

/* CLEAR */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/********************************************************************************************/

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
body{
    background:url('bg.jpg');
}

/*

.headerContainer{
    background: -webkit-linear-gradient(top, #FFFFFF, #5AA1EB);
    background: -moz-linear-gradient(top, #FFFFFF, #5AA1EB);
    background: -ms-linear-gradient(top, #FFFFFF, #5AA1EB);
    background: -o-linear-gradient(top, #FFFFFF, #5AA1EB);
}
*/

/*** Loading screen */

.loadingScreen{
    position:absolute;
    width:5000px;
    height:5000px;
    z-index:100;
    background-color:black;
}

#loadingContent{
    position:absolute;
    float:left;
    height:300px;
    width:350px;
    z-index:101;
    margin-left:500px;
    margin-top:200px;
    text-align:center;
    color:white;
    font-size:250%;
    line-height:70%;
    font-family: "Trebuchet MS";
}

.loadingIcon{
    z-index:-1;
    position:relative;
    width:100px;
    animation: rotate 10s linear infinite;
}
.pbar{
    position:absolute;
    height:20px !important;
    margin-top:200px;
}
@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.title{
    position:relative;
    font-size:150%;
    text-align:center;
}
.positionTitle{
    position:relative;
    font-size:150%;
    text-align:left;
    margin-left:0;
    
}
#titleBox{
    float:left;
    width:350px;
    margin-top:0;
    
}
.headerContainer{
    background: -webkit-linear-gradient(top, #FFFFFF, #5AA1EB);
    background: -moz-linear-gradient(top, #FFFFFF, #5AA1EB);
    background: -ms-linear-gradient(top, #FFFFFF, #5AA1EB);
    background: -o-linear-gradient(top, #FFFFFF, #5AA1EB);

}

.header{
    width: 90%;
    margin: 0 5%;
}

.navBar{
    margin-top:50px;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}


/**************  MAIN *******************************/


.main {
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/**************   TAB CONTENTS **********************/

/*portrait, intro and "hi there" */
.introPage ,.projectsPage ,.contactPage{
    margin:auto;
    width:70%;
    padding-top:0;
}
aside{
    float:right;
    width:25%;
    margin-top:50px;
}

#myPortrait{
    width:300px;
    height:300px;
    border-radius:150px;
    box-shadow: 0px 2px 150px 5px #000, 0px 0px 0px 10px #fff;
}

.portraitFrame{
    width:300px;
    height:300px;
}

.overlay {
  position: relative;
  bottom: 300px;
  right: 0;
  height: 300px;
  width: 300px;
  opacity: 0;
  border-radius:150px;
  transition: .5s ease;
  background-color: #294B6E;
}
.text{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.portraitFrame:hover .overlay{
  opacity: 0.75;
}


/* projects section, carosel. */

.caroselImage{
    height:100%;
    width:100%;
}

.caroselText{
    color:black;
}

#textBox{
    background-color:gray;
    border-radius:25px;
    border: 4px solid greenyellow;
}

.border{
    border-style:solid;
}
/********************** RESPONSIVE STUFF *************************/


@media only screen and (max-width: 480px){
    aside{
        margin-left:90px;
    }
    
    #textBox{
        margin-top:50px;
    }
    .carousel-caption{
        position:relative !important;; 
        margin-top:-50px !important;;
        left:0 !important;
        right:0 !important;;
    }
}
@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: left;
        width: 17%;
        margin: 0 1.7%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }
    .title{
        font-size:100%;
    }
    
    
/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */


/* ============
    WIDE: Menu
   ============ */

    nav {
        float: right;
        width: 38%;
    }
    .title{
        font-size:100%;
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width:28%;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .header {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
    .title{
        font-size:150%;
    }
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
