/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28-Jul-2017, 11:17:09 PM
    Author     : Yang
*/

body{
    background-image: url('bg.png');
}

/*
first part, introduction name card
*/
#topHeader{
    width:1200px;
    margin:auto;
	background-color:lightblue;
        padding:1px;
        padding-top:5px;
	text-align:center;
}
#topWordFormat{
    padding-top:15px;
    margin-top:15px;
    margin-bottom:0px;
    
}
/*
the navigation bar and text
*/
nav{
        width:80%;
        margin:auto;
        border-radius:25px;
	background: -webkit-linear-gradient(45deg, #FFFFFF,#5C8DC1);
        background: -moz-linear-gradient(45deg, #FFFFFF, #5C8DC1);
        background: -ms-linear-gradient(45deg, #FFFFFF, #5C8DC1);
        background: -o-linear-gradient(45deg, #FFFFFF, #5C8DC1);
	font-size:150%;
	padding:3px;
        top:0;
}
.navText{
    text-align:center;
    word-spacing:-10px;
    padding:0px;
}

/* the stuff for fanxy colored text */
.sectionTitle{
    font-size:200%;
    font-family:Arial Black;

}
        
        h1{
            font-size:200%;
		 font-family:Arial Black;
		-webkit-transition-property: background;
		-webkit-transition-duration: 3s;
		-webkit-transition-timing-function: ease-out;
		color:#222;
		text-shadow:0px 0px 5px white;
		z-index:3;
		background: -webkit-linear-gradient(left,  rgba(255,0,0,1) 0%,rgba(255,255,0,1) 19%,rgba(0,255,0,1) 38%,rgba(0,255,255,1) 51%,rgba(0,0,255,1) 67%,rgba(255,0,255,1) 83%,rgba(255,0,0,1) 99%); /* Chrome10+,Safari5.1+ */
		-webkit-text-stroke: 5px rgba(255,255,255,.01);
		-webkit-background-clip: text;

	}


/*the about section*/
#contactCard{
    display:block;
    text-align:center;
    width:1200px;
    background-color:lightblue;
    margin:auto;
    padding:1px;
}

/*the projects section. */
#projectSection{
    text-align:center;
    width:1200px;
    background-color:lightblue;
    margin:auto;
    padding:1px;
}

/*my photo*/
#picture{
	width:300px;
	height:300px;
	background-color:greenyellow;
	margin:10px 20px 20px 10px;
}
#infoForm{
	display:inline;

}
#wrapper{
    width:700px;
}

p.break{
    word-wrap:break-word;
}
#pic{
    position:relative;
    margin:auto;
    display:block;
    width:300px;
    border-radius:200px;
    box-shadow: 0px 2px 150px 5px #000, 0px 0px 0px 10px #fff;
}
.container {
  position: relative;
  margin:auto;
  width: 50%;
}
.projectItemContainer{
    position: relative;
}
/* seperators*/
hr.seperate{
    width:80%;
	border: 1px solid black;
        border-radius:25px;
	text-align: center;
        background: -webkit-linear-gradient(45deg, #ffffff 0%, #1263e5);
        background: -moz-linear-gradient(45deg, #FFFFFF, #5C8DC1);
        background: -ms-linear-gradient(45deg, #FFFFFF, #5C8DC1);
        background: -o-linear-gradient(45deg, #FFFFFF, #5C8DC1);
        color:blue;
        height:15px;
}
hr.seperate:after{
        
	content: 'ยง';
	display: inline-block;
	position: relative;
	top: -14px;
	padding: 0 10px;
	background: -webkit-linear-gradient(45deg, #FFFFFF, #5C8DC1);
        background: -moz-linear-gradient(45deg, #FFFFFF, #5C8DC1);
        background: -ms-linear-gradient(45deg, #FFFFFF, #5C8DC1);
        background: -o-linear-gradient(45deg, #FFFFFF, #5C8DC1);
	color: #8c8b8b;
	font-size: 18px;
	-webkit-transform: rotate(60deg);
	-moz-transform: rotate(60deg);
	transform: rotate(60deg);
}

.image {
    border-radius:15px;
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 150px;
  right: 0;
  height: 100%;
  width: 300px;
  opacity: 0;
  border-radius:150px;
  transition: .5s ease;
  background-color: #294B6E;
}

.projectItemOverlay {
  position: absolute;
  top: 2px;
  bottom: 0;
  left: 5px;
  right: 0;
  height: 328px;
  width: 458px;
  opacity: 0;
  border-radius:15px;
  transition: .5s ease;
  background-color: #294B6E;
}
.projectItemContainer:hover .projectItemOverlay{
    opacity:0.9;
}

.container:hover .overlay{
  opacity: 0.75;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}


#bio{
    text-align:center;
    font-size:150%;
}

p.test {
    word-wrap: break-word;
}
/* the projects section */ 
.projectsContainer{
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.projectItem{
    border-radius:15px;
    margin-top:5px;
    padding:2px;   
}
img{
    border-radius:15px;
}
.footer{
    background-color:#ECEFF2;
    border-radius:15px;;
    padding:1px;
    
}
.centerText{
    text-align:center;
}

#contactMe{
    width:160px;
    padding:2px;
    margin-left:20px;
    margin:auto;
}
.contactItem{
    margin-top:5px;
    width:400px;
    padding:5px;
    margin-bottom:10px;
}
#contactLeftPanel{
    font-size:150%;
}

.contactText{
    font-size:200%;
    margin:0px;
}
#mailToLink{
    width:170px;
    text-align:center;
    margin:auto;
    margin-left:-7px;
}
